pillow>=10.0.0,<12.0.0
torch==2.8.0
torchvision==0.23.0
facenet-pytorch==2.5.3
numpy>=2.0.0,<3.0.0
opencv-python-headless>=4.12.0
urllib3==1.26.20
requests==2.32.5
paddlepaddle>=3.2.0
paddleocr
pathway[xpack-llm]
pathway[xpack-llm-docs]
docling
unstructured[local-inference,pdf,hi_res]
beautifulsoup4
pandas
pathway
nest_asyncio
fastapi
pydantic
uvicorn[standard]
python-multipart

